name: ESPHome Compile

on:
  push:
    paths:
      - 'config/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: ESPHome Builder - Compile
        uses: esphome/build-action@v6.0.0
        with:
          yaml-file: config/moisture_sensor.yaml
          complete-manifest: true

      - name: Upload Compiled Firmware
        uses: actions/upload-artifact@v4
        with:
          name: firmware
          path: moisture-sensor-name-esp32s2/*.bin  # REPLACE your name here
